<div class="footer-container">
        <div class="footer-col-1">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
            <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i><br>
            <img src="img/Delish Dream Dish.png" style="height:3%; width:3%; margin-top: 7px">
            <p class="footer-text footer-text-1">About Foorder</p>
            <p class="footer-text">Foorder Blog</p>
            <p class="footer-text">Privacy Policy</p>
            <p class="footer-text">Terms and Conditions</p>
            <p class="footer-copyright">©2019 Foorder, Inc.</p>
        </div>
</div>
</body>
</html>