<% include partials/header %>
<div class="username-container">
    <div class="title-cover-landing">
        <div class="title-cover-left"></div>
        <div class="title-cover-right">
            <div class="title-cover-right-child">
                <h1>Foorder</h1>
                <h1>The fastest way to order your food.</h1>
                <a href="/restaurants"><button>Search!</button></a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
    <div class="top">
        <h2 class="header" style="color:black">How Foorder Works</h2>
        <div class="subheader">Ordering Food online now becomes easier than ever</div>
    </div>
</div>
<div class="clearfix">
    <div class="row">
        <div class="col-sm-4">
            <div class="col-1 img">
                <img src="/img/col-1 img.png">
            </div>
            <div class="col-1 text" style="margin-left:150px; font-size:20px; margin-bottom: 20px">
                <strong>Explore restaurants</strong> near <br> your location 
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="col-2 img">
                <img src="/img/col-2 img.png">
            </div>
            <div class="col-2 text" style="margin-left:150px; font-size:20px; margin-bottom: 20px">
                Browse menus and <strong> place <br>your order</strong>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-3 img">
                <img src="/img/col-3 img.png">
            </div>
            <div class="col-3 text" style="margin-left:100px; font-size:20px; margin-bottom: 20px">
                <strong>Track your order</strong> while <br>it is being prepared
            </div>
        </div>
    </div>
</div>
<div>
    <a href="/restaurants/new"><button style="margin-bottom:40px">Add Restaurant!</button></a>
</div>
<% include partials/footer %>
